.container {
    margin: 10px;
    width: 98%;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.inp {
    margin: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: solid black 1px;
}
input {
    width: 100%;
    border: none;
    margin: 10px;
}
button {
    margin: 10px;
    border: none;
}
ul {
    border: 1px solid black;
    width: 77%;
}
li {
    margin: 5px;
}